<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/site.css" media="all">
    <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/css/light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="/css/print.css" media="print">
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <script src="/js/matomo.js"></script>
    <script src="/js/htmx.js"></script>
</head>
